.container
  .jumbotron
    h1 Trivia Night
    p Welcome to the ERC May Trivia Night Event

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-categories'")
    .col-md-6
      div(ng-include="'/partials/main/new-categories'")
