.panel.panel-primary
  .panel-heading.text-center All Categories
  .panel-body
    .row(ng-repeat="category in categories | orderBy:'published':true | limitTo:10")
      .col-md-3 {{category.published | date:'MMM d'}}
      .col-md-9
        a(href="/categories/{{category._id}}") {{category.title}}
